config/paths.local.tsv
config/paths.server.tsv
data/
runs/
results/
logs/
*.bed
*.bed.gz
*.bim
*.annot.gz
*.ldscore.gz
*.sumstats
*.rds
*.bigWig
*.bw
*.tif
*.tiff
*.pdf
*.png
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
